/shelf/
/workspace.xml
/designpatterns/designpatterns.iml
/designpatterns/.idea/modules/designpatterns.main.iml
/designpatterns/.idea/modules/designpatterns.test.iml
/designpatterns/.idea/gradle.xml
/designpatterns/.idea/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_2.xml
/designpatterns/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_8_1.xml
/designpatterns/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_8_1.xml
/designpatterns/.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_8_1.xml
/designpatterns/.idea/libraries/Gradle__org_junit_platform_junit_platform_engine_1_8_1.xml
/designpatterns/.idea/libraries/Gradle__org_opentest4j_opentest4j_1_2_0.xml
/designpatterns/.idea/misc.xml
/designpatterns/.idea/modules.xml
/designpatterns/.idea/vcs.xml
/designpatterns/.idea/workspace.xml
/designpatterns/gradle/wrapper/gradle-wrapper.jar
/designpatterns/gradle/wrapper/gradle-wrapper.properties
/designpatterns/gradlew
/designpatterns/gradlew.bat
