/shelf/
/workspace.xml
designpatterns/.idea/*
/designpatterns/gradle/wrapper/gradle-wrapper.jar
/designpatterns/gradle/wrapper/gradle-wrapper.properties
/designpatterns/gradlew
/designpatterns/gradlew.bat
